streamlit>=1.35
pandas>=2.2
numpy>=1.26
plotly>=5.22
scikit-learn>=1.5
seaborn>=0.13          # <-- nouvelle dépendance
matplotlib>=3.9
wordcloud>=1.9         # pour le nuage de mots
pillow>=10             # requis par wordcloud
